<style>

</style>

<div class="message-content">
  <p><strong>{{name}}</strong> quer falar com você</p>
  <p>Um email foi enviado a partir do seu portfólio.</p>
  <p>
    <strong>Dados do email</strong>
  </p>
  <p><strong>Nome: </strong>{{name}}</p>
  <p><strong>Email: </strong> {{email}}</p>
  <p><strong>WhatsApp: </strong> {{whatsapp}}</p>
  <p><strong>Assunto: </strong>{{subject}}</p>

</div>
